* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  :root{
    font-family: Raleway, sans-serif;
    font-size: 10px;
  }
  .container {
    max-width: 1352px;
    margin: 0 auto;
  }
  
  @media (max-width: 1352px) {
    .container {
      width: 100%;
      padding: 0 15px;
    }
  }
  .header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    display: flex;
    justify-content: space-between;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .logo {
    font-size: 3.2rem;
    color: #08A6E4;
    font-weight: 300;
    text-decoration: none;
    padding: 0 20px;
  }
  
  .menu {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .menu__list {
    list-style: none;
    height: 100%;
    display: flex;
  }
  
  .menu__list li {
    height: 100%;
    padding: 0 40px;
  }
  
  .menu__list a {
    font-family: Open Sans, sans-seri;
    font-size: 1.1rem;
    color: #A5A5A5;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu__list a:hover {
    color: #000;
    border-bottom: 4px solid #08A6E4;
  }
  
  .menu__list-toggle {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .menu__list-toggle strong {
    display: none;
  }
  
  .menu__list-toggle span {
    width: 20px;
    height: 2px;
    background: #08A6E4;
    margin: 3px 0;
  }
  
  .menu__list-x {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 30px;
    display: none;
  }
  
  .menu__list-x strong {
    display: none;
  }
  
  .menu__list-x span {
    font-size: 2rem;
    color: #08A6E4;
    font-weight: bold;
  }
  
  @media (max-width: 800px) {
    .menu__list li {
      padding: 0 20px;
    }
  }
  @media (max-width: 670px) {
    .header {
      width: 100%;
      background-color: #fff;
      position: fixed;
      z-index: 1;
    }
    .header .menu__list {
      width: 100%;
      height: 175px;
      background-color: #fff;
      box-shadow: 0 3px 6px #00000029, 0 3px 6px #00000029 inset;
      position: fixed;
      top: -178px;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .header .menu__list li {
      height: auto;
    }
    .header .menu__list li a {
      border: none;
      padding: 7px 0;
    }
    .header .menu__list li a:hover {
      border: none;
    }
  
    .menu__list.show {
      top: 70px;
    }
  
    .menu__list-toggle {
      display: flex;
    }
  
    .menu__list-toggle.show {
      display: none;
    }
  
    .menu__list-x.show {
      display: flex;
    }
  }
  .first .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .first__title {
    font-size: 4.9rem;
    margin-top: 130px;
    margin-bottom: 20px;
  }
  
  .first__text {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    margin-bottom: 38px;
  }
  
  .first__btn {
    width: 440px;
    height: 67px;
    background-color: #08A6E4;
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  picture img {
    width: 100%;
    height: auto;
  }
  
  .second__img {
    display: none;
  }
  
  @media (max-width: 600px) {
    .first__btn {
      width: 100%;
    }
  }
  .statistics {
    box-shadow: 0 -5px 80px #00000029;
  }
  
  .statistics .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .statistics__title {
    font-size: 3.6rem;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .statistics__columns {
    margin-bottom: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }
  
  .statistics__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .statistics__circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-bottom: 14px;
  }
  
  .statistics__column:nth-child(1) .statistics__circle {
    background-color: #FB3B64;
  }
  
  .statistics__column:nth-child(2) .statistics__circle {
    background-color: #08A6E4;
  }
  
  .statistics__column:nth-child(3) .statistics__circle {
    background-color: #55DFB4;
  }
  
  .statistics__img1 {
    position: absolute;
    top: 5px;
    right: 15px;
  }
  
  .statistics__img2 {
    position: absolute;
    top: 15px;
    right: 41px;
  }
  
  .statistics__img3 {
    position: absolute;
    top: 7px;
    right: 17px;
  }
  
  .statistics__number {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }
  
  .statistics__text {
    font-size: 1.7rem;
    color: var(--c-second);
  }
  
  @media (max-width: 950px) {
    .statistics__columns {
      gap: 100px;
    }
  }
  @media (max-width: 750px) {
    .statistics__title {
      margin-top: 50px;
      margin-bottom: 25px;
    }
  
    .statistics__columns {
      flex-direction: column;
      gap: 25px;
      margin-bottom: 50px;
    }
  }
  .benefits {
    padding: 100px 0;
    background-color: #F7F7F7;
  }
  
  .benefits .container {
    max-width: 1124px;
    margin: 0 auto;
  }
  
  .benefit {
    height: 370px;
    background-color: #fff;
    margin-bottom: 37px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .benefit__text {
    margin-left: 35px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .benefit__text:after {
    content: "";
    width: 328px;
    height: 4px;
    display: block;
    margin-top: 50px;
  }
  
  .benefit:nth-child(1) .benefit__text:after {
    background-color: #FB3B64;
  }
  
  .benefit:nth-child(2) .benefit__text:after {
    background-color: #08A6E4;
  }
  
  .benefit__column:nth-child(1) .benefit__text:after {
    background-color: #55DFB4;
  }
  
  .benefit:nth-child(2) .benefit__text {
    margin-right: 20px;
  }
  
  .benefit__title {
    font-size: 3.6rem;
    margin-bottom: 30px;
  }
  
  .benefit__description {
    font-size: 1.6rem;
    font-family: Open Sans, sans-serif;
  }
  
  .benefit__img {
    width: 50%;
    height: 100%;
    position: relative;
  }
  
  .benefit:nth-child(1) .benefit__img img {
    position: absolute;
    bottom: 38px;
    right: 118px;
  }
  
  .benefit:nth-child(2) .benefit__img img {
    position: absolute;
    bottom: 13px;
    left: 70px;
  }
  
  .benefit__laptop {
    position: relative;
    z-index: 0;
  }
  
  .benefit__laptop-shape {
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    top: 60px;
    right: 100px;
    z-index: -1;
  }
  
  .benefit__laptop .benefit__img img {
    max-width: 387px;
  }
  
  .benefit__phone {
    position: relative;
    z-index: 0;
  }
  
  .benefit__phone-shape {
    width: 320px;
    height: 320px;
    background-color: #08A6E4;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 70px;
    z-index: -1;
  }
  
  .benefit__phone .benefit__img img {
    max-width: 426px;
  }
  
  .benefit__columns {
    display: flex;
    justify-content: space-between;
    gap: 61px;
  }
  
  .benefit__columns .benefit {
    margin-bottom: 0;
  }
  
  .benefit__columns .benefit__text {
    width: 100%;
    padding-right: 35px;
  }
  
  .benefit__column-text {
    max-width: 624px;
  }
  
  .benefit__column-img {
    height: 370px;
    background-color: #55DFB4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .benefit__columns .benefit__column-img img {
    width: 296px;
  }
  
  @media (max-width: 1050px) {
    .benefits .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .benefits {
      padding: 42px 0;
    }
  
    .benefit {
      width: 500px;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .benefit__text {
      width: 100%;
      margin: 0 auto;
      padding: 26px 50px 30px 50px;
    }
  
    .benefit__text:after {
      display: none;
    }
  
    .benefit__img {
      width: 100%;
      height: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }
  
    .benefit:nth-child(1) .benefit__img img {
      position: static;
      max-width: 287px;
    }
  
    .benefit:nth-child(2) .benefit__img img {
      position: static;
      max-width: 326px;
    }
  
    .benefit__laptop {
      flex-direction: column-reverse;
    }
  
    .benefit__laptop-shape {
      width: 125px;
      height: 125px;
      top: 15px;
      right: 100px;
    }
  
    .benefit__phone-shape {
      width: 220px;
      height: 220px;
      top: 30px;
      left: 90px;
    }
  
    .benefit__columns {
      flex-direction: column;
      gap: 0;
    }
  
    .benefit__column-img {
      height: 270px;
      padding-top: 70px;
    }
  }
  @media (max-width: 525px) {
    .benefit {
      max-width: 374px;
    }
  
    .benefit:nth-child(1) .benefit__img img {
      max-width: 193px;
    }
  
    .benefit:nth-child(2) .benefit__img img {
      max-width: 175px;
    }
  
    .benefit__laptop-shape {
      width: 90px;
      height: 90px;
      top: 10px;
      right: 75px;
    }
  
    .benefit__phone-shape {
      width: 132px;
      height: 132px;
      top: 30px;
      left: 97px;
    }
  
    .benefit__column-img {
      height: 195px;
      padding-top: 70px;
    }
  }
  @media (max-width: 400px) {
    .benefit {
      max-width: 300px;
    }
  
    .benefit__laptop-shape {
      right: 35px;
    }
  
    .benefit__phone-shape {
      left: 60px;
    }
  
    .benefit__columns .benefit__column-img img {
      width: 250px;
    }
  }
  .pricing {
    margin-bottom: 25px;
  }
  
  .pricing__title {
    font-size: 3.6rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .pricing__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pricing__box {
    border-radius: 18px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  
  .pricing__box:nth-child(1) {
    border: 1px solid #FB3B64;
  }
  
  .pricing__box:nth-child(2) {
    border: 1px solid #08A6E4;
    margin: 0 60px;
  }
  
  .pricing__box:nth-child(3) {
    border: 1px solid #55DFB4;
  }
  
  .pricing__box-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 34px;
    margin-bottom: 14px;
  }
  
  .pricing__box-price {
    font-family: Open Sans, sans-serif;
    font-size: 4.6rem;
  }
  
  .pricing__box:nth-child(1) .pricing__box-price {
    color:#FB3B64;
  }
  
  .pricing__box:nth-child(2) .pricing__box-price {
    color: #08A6E4;
  }
  
  .pricing__box:nth-child(3) .pricing__box-price {
    color: #55DFB4;
  }
  
  .pricing__box-extra {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .pricing__box-list {
    font-family: Open Sans, sans-serif;
    font-size: 1.4rem;
    line-height: 40px;
    list-style: none;
    margin-top: 69px;
  }
  
  .btn {
    font-family: Open Sans, sans-serif;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    border-radius: 23px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
  }
  
  .pricing__box:nth-child(1) .btn {
    background-color: #FB3B64;
  }
  
  .pricing__box:nth-child(2) .btn {
    background-color: #08A6E4;
  }
  
  .pricing__box:nth-child(3) .btn {
    background-color: #55DFB4;
  }
  
  .pricing__box-basic, .pricing__box-professional, .pricing__box-premium {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pricing__box-basic, .pricing__box-premium {
    max-width: 370px;
    height: 460px;
  }
  
  .pricing__box-professional {
    max-width: 405px;
    height: 500px;
  }
  
  @media (max-width: 1200px) {
    .pricing__box:nth-child(2) {
      margin: 0 30px;
    }
  }
  @media (max-width: 1150px) {
    .pricing__title {
      margin-top: 60px;
      margin-bottom: 14px;
    }
  
    .pricing__boxes {
      flex-direction: column;
    }
    .pricing__boxes .pricing__box {
      margin-bottom: 54px;
    }
    .pricing__boxes .pricing__box .pricing__box-basic,
  .pricing__boxes .pricing__box .pricing__box-professional,
  .pricing__boxes .pricing__box .pricing__box-premium {
      flex-direction: row;
      justify-content: center;
    }
    .pricing__boxes .pricing__box .pricing__box-basic .pricing__box-text,
  .pricing__boxes .pricing__box .pricing__box-professional .pricing__box-text,
  .pricing__boxes .pricing__box .pricing__box-premium .pricing__box-text {
      width: 50%;
    }
    .pricing__boxes .pricing__box .pricing__box-basic .pricing__box-list,
  .pricing__boxes .pricing__box .pricing__box-professional .pricing__box-list,
  .pricing__boxes .pricing__box .pricing__box-premium .pricing__box-list {
      width: 50%;
      text-align: left;
    }
    .pricing__boxes .pricing__box .pricing__box-basic,
  .pricing__boxes .pricing__box .pricing__box-premium {
      width: 293px;
      height: 251px;
    }
    .pricing__boxes .pricing__box .pricing__box-professional {
      width: 339px;
      height: 277px;
    }
  
    .pricing__box-title,
  .pricing__box-price,
  .pricing__box-list {
      margin: 0;
    }
  
    .pricing__box-price {
      line-height: 62px;
    }
  
    .pricing__box-extra {
      margin: 2px 0;
    }
  }
  
  .contact {
    margin-top: 200px;
    margin-bottom: 59px;
  }
  
  .contact .container {
    max-width: 896px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .contact__text {
    width: 50%;
  }
  
  .contact__text-title {
    font-size: 4.9rem;
    margin-bottom: 22px;
  }
  
  .contact__text-description {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    margin-bottom: 42px;
  }
  
  .contact__text-contacts {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    color: #A5A5A5;
    display: flex;
  }
  
  .contact__text-email {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
    
  .contact__text-phone {
    display: flex;
    align-items: center;
  }
   
  .form {
    width: 50%;
  }
  
  .form__row {
    display: flex;
    flex-direction: column;
  }
  
  .form__row label {
    font-family: Open Sans, sans-serif;
    font-size: 1.1rem;
    color: #08A6E4;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .form__name {
    margin-bottom: 46px;
  }
  
  .form__email {
    margin-bottom: 30px;
  }
  
  .form__name input,
  .form__email input {
    height: 44px;
    border: none;
    border-bottom: 1px solid #A5A5A5;
  }
  
  .form .form__checkbox .checkbox {
    display: flex;
  }
  
  .form__checkbox {
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;
    color: #707070;
  }
  
  .checkbox .checkbox__input {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid #95989A;
    border-radius: 4px;
    flex-shrink: 0;
  }
  
  .checkbox .checkbox__input:checked {
    background-image: url(assets/Ckechmark-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-btn {
    font-family: Open Sans, sans-serif;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    width: 226px;
    height: 57px;
    margin-top: 20px;
  }
  
  .form__row:last-child {
    align-items: flex-end;
  }
  
  @media (max-width: 1050px) {
    .contact {
      margin-top: 0;
      margin-bottom: 44px;
    }
    .contact .container {
      flex-direction: column;
    }
    .contact .container .contact__text, .contact .container .form {
      width: 100%;
    }
  
    .contact__text-contacts {
      flex-direction: column;
    }
    .contact__text-contacts .contact__text-email {
      margin-bottom: 17px;
    }
    .contact__text-contacts .contact__text-phone {
      margin-bottom: 56px;
    }
  }
  .footer {
    height: 89px;
    margin-top: 59px;
    background-color: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
  }
  
  .footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__text {
    display: flex;
    flex-direction: column;
  }
  
  .footer__logo {
    font-size: 2.6rem;
    color: #08A6E4;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 7px;
  }
  
  .footer__copyrights {
    font-family: Open Sans, sans-serif;
    font-size: 1.1rem;
    color: #A5A5A5;
  }
  
  .footer__media {
    display: flex;
    gap: 20px;
  }
  
  .footer__media-tweeter,
  .footer__media-facebook {
    width: 24px;
    height: 24px;
  }
  
  @media (max-width: 1050px) {
    .footer {
      margin-top: 0;
    }
  }